fastapi
uvicorn[standard]
python-socketio
python-dotenv
pydantic
pydantic-settings
sqlalchemy
sqlalchemy[asyncio]
passlib
bcrypt
alembic
argon2-cffi
asyncpg
redis
rq
authlib
python-multipart
starlette
itsdangerous
httpx
orjson